<div class="posts">
  {{#each posts}}
  <article class="card">
    <div class="card-header flex-row justify-space-between">
      <h2>
        <a href="/post/{{id}}">{{title}}</a>
      </h2>
      <div>
        <code> {{User.username}}</code> CREATED THIS <code>{{format_date createdAt}}</code>
      </div>
    </div>
    <div class="card-body">
      {{body}}
    </div>
  </article>
  {{/each}}
</div>